<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="synchronization" type="COM.TIGER.TASK.DAT.Synchronization.SyncConfigurationSectionHandler, COM.TIGER.TASK.DAT.Synchronization"/>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyy-MM-dd/&quot;INFO.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="----------%newline%date %-5level %logger  - %newline----------%newline%message%newline" />
      </layout>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyy-MM-dd/&quot;ERROR.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10240KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="----------%newline%date %-5level %logger - %newline----------%newline%message%newline" />
      </layout>
    </appender>
    <appender name="FatalFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyy-MM-dd/&quot;FATAL.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10240KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="----------%newline%date %-5level %logger - %newline----------%newline%message%newline" />
      </layout>
    </appender>
    <appender name="WarnFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyy-MM-dd/&quot;WARN.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10240KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="----------%newline%date %-5level %logger - %newline----------%newline%message%newline" />
      </layout>
    </appender>
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyy-MM-dd/&quot;DEBUG.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10240KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="----------%newline%date %-5level %logger - %newline----------%newline%message%newline" />
      </layout>
    </appender>
    <!---->
    <root>
      <level value="ALL" />
      <appender-ref ref="InfoFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
      <!--
      <appender-ref ref="FatalFileAppender" />
      <appender-ref ref="WarnFileAppender" />
      <appender-ref ref="DebugFileAppender" />
      -->
    </root>
    <!---->
  </log4net>

  <quartz>
    <add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
    <!--******************************Plugin配置********************************************* -->
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="quartz_jobs.xml"/>
  </quartz>

  <!--数据同步配置节点-->
  <synchronization>
    <!--默认值设定-->
    <defaults>
      <!--目标数据库连接字符串-->
      <target value="sqlserver,10.162.28.61,tongzi_new,sa,tzga110" />
      <!--数据来源数据库连接字符串-->
      <from value="oracle,IRISDB,ald,ald" />
      <!--数据来源 T-SQL 命令-->
      <!--<command value="" />-->
    </defaults>
    <!--任务集-->
    <tasks>
      <!--具体任务配置说明-->
      <!--<task>
        标识当前任务处理程序模块全称
        <name value="" />
        目标数据库连接字符串
        <target value="" />
        数据来源数据库连接字符串
        <from value="" />
        数据来源 T-SQL 命令
        <command value="" />
      </task>-->
      <!--一键报警-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.YJBJ.Job" />
        <from value="sqlserver,10.162.28.52,alarm,sa,1" />
        <command value="select * from USRALMHS" />
      </task>
      <!--暂住人口-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.ZZRK.Job" />
        <command value="select * from VW_ZZRK where ZZDZQH like '520322%'" />
      </task>
      <!--境外人口-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.JWRK.Job" />
        <command value="select * from VW_ZY_RK_WGRSQ where zzxzqx like '520322%'" />
      </task>
      <!--实有人口-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.HJRK.Job" />
        <command value="select * from IRIS_BS.VW_ZY_CZX_HJRKXX where SSPCSJGDM like '520322%'" />
      </task>
      <!--单位信息-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.DWJBXX.Job" />
        <command value="select * from VW_ZY_PJX_DWJBXX where yyzzbh like '520322%'" />
      </task>
      <!--从业人员-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.DWCYRY.Job" />
        <command value="select t1.* from VW_ZY_PJX_DWCYRY t1 join  VW_ZY_PJX_DWJBXX t2 on t1.DWID=T2.ID where T2.yyzzbh like '520322%'" />
      </task>
      <!--酒店，宾馆，旅店-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.HOTEL.Job" />
        <command value="select * from VW_YW_TH_GNLKZS where GXDWBM like '520322%'" />
      </task>
      <!--酒店，宾馆，旅店住宿人员-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.HOTELSTAY.Job" />
        <command value="select t1.* from VW_RK_TH_GNLK t1 join VW_YW_TH_GNLKZS t2 on t1.LGBM = T2.LGBM where t2.GXDWBM like '520322%'" />
      </task>
      <!--案事件-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.AJJBXX.Job" />
        <command value="select * from VW_ASX_AJJBXXB where lrr like '520322%'" />
      </task>
      <!--三台合一-->
      <task>
        <name value="COM.TIGER.TASK.DAT.Synchronization.JCJ_JJDB.Job" />
        <from value="oracle,TZDB110,sa,tzga110" />
        <command value="select * from JCJ_JJDB,JCJ_JJDB" />
      </task>
      <!--GPS-->
      <!--<task>
        <name value="" />
        <from value="" />
        <command value="" />
      </task>-->
    </tasks>
  </synchronization>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
